body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

.autor {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.autor-info {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
}

.autor img {
    max-width: 200px;
    border-radius: 50%;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}